/** global classes styling and variables definitions **/
:root {
  --bg-primary: #1a1a1a;
  --bg-gray: #252529;
  --text-primary: #e8e6e6;
  --text-inverted: #000000;
  --text-gray: #bbbbbb;
  --white: #ffffff;
  --black: #000000;
  --green: #42b883;
  --pink: #f864bd;
  --pink-o: #f863bd33;
  --blue: #0ebbd2;
  --purple: #4785fe;
  --primary: var(--green);
  --secondary: var(--blue);
  --logo-fill: var(--white);
  --header-menu-transition: 0.4s;
  --levels-transition: all .3s ease-in; }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  font-weight: 400 !important;
  font-style: normal;
  background-color: var(--bg-primary) !important;
  color: var(--text-primary) !important;
  font-family: "Varela Round", sans-serif !important; }

ul {
  list-style-type: none; }
  ul li {
    list-style: none; }

h2.text-center {
  margin-top: 6rem !important;
  font-size: 2.125rem !important; }

.btn {
  padding: 15px 40px !important;
  font-size: 1em !important;
  cursor: pointer; }
  .btn.btn-primary-effect {
    background-color: var(--primary);
    gap: .5rem;
    border: 1px solid var(--primary);
    color: var(--text-inverted) !important;
    transition-duration: .2s;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1); }
    .btn.btn-primary-effect:hover {
      background-image: linear-gradient(to right, var(--primary), var(--secondary)) !important;
      transition: background-image 1s !important; }

.gradient-text {
  background-clip: text;
  color: transparent;
  font-style: normal; }

.primary-text, .primary-bg, body:has(.header-navigation-wrapper.open) #page-wrapper #header {
  background-image: linear-gradient(to right, var(--primary), var(--secondary)); }

.green-text {
  background-image: linear-gradient(to right, var(--green), var(--blue)); }

.pink-text {
  background-image: linear-gradient(to right, var(--pink), var(--purple)); }

.btn-outline, #steps-to-certification .card.mid-level:hover, #certificates .card.mid-level:hover, #steps-to-certification .card.senior-level:hover, #certificates .card.senior-level:hover {
  position: relative;
  background-clip: padding-box;
  border: solid 2px transparent; }
  .btn-outline:before, #steps-to-certification .card.mid-level:hover:before, #certificates .card.mid-level:hover:before, #steps-to-certification .card.senior-level:hover:before, #certificates .card.senior-level:hover:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit; }
  .btn-outline.primary-outline:before, #steps-to-certification .primary-outline.card.mid-level:hover:before, #certificates .primary-outline.card.mid-level:hover:before, #steps-to-certification .primary-outline.card.senior-level:hover:before, #certificates .primary-outline.card.senior-level:hover:before {
    background: linear-gradient(45deg, var(--primary), var(--secondary)) border-box; }
  .btn-outline.green-outline:before, #steps-to-certification .card.mid-level:hover:before, #certificates .card.mid-level:hover:before, #steps-to-certification .green-outline.card.senior-level:hover:before, #certificates .green-outline.card.senior-level:hover:before {
    background: linear-gradient(45deg, var(--green), var(--blue)) border-box; }
  .btn-outline.pink-outline:before, #steps-to-certification .pink-outline.card.mid-level:hover:before, #certificates .pink-outline.card.mid-level:hover:before, #steps-to-certification .card.senior-level:hover:before, #certificates .card.senior-level:hover:before {
    background: linear-gradient(45deg, var(--pink), var(--purple)) border-box; }

.grayed-out-text {
  color: var(--text-gray);
  background-image: none; }

.btn-gradient-container {
  background-color: var(--bg-gray); }
  .btn-gradient-container .btn-gradient {
    padding: 15px 40px;
    outline: none;
    position: relative;
    z-index: 1;
    cursor: pointer;
    color: var(--text-primary) !important; }
    .btn-gradient-container .btn-gradient:before {
      content: "";
      position: absolute;
      left: 1px;
      right: 1px;
      top: 1px;
      bottom: 1px;
      border-radius: inherit;
      background-color: var(--bg-gray);
      z-index: -1;
      transition: 200ms; }
    .btn-gradient-container .btn-gradient:after {
      content: attr(data);
      font-size: 1rem;
      background-clip: text;
      color: transparent;
      transition: 200ms; }
    .btn-gradient-container .btn-gradient:hover {
      color: var(--text-inverted) !important; }
      .btn-gradient-container .btn-gradient:hover:before {
        opacity: 0%;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px; }
      .btn-gradient-container .btn-gradient:hover:after {
        color: var(--text-inverted); }
    .btn-gradient-container .btn-gradient.green-gradient {
      background: linear-gradient(to right, var(--green), var(--blue)); }
      .btn-gradient-container .btn-gradient.green-gradient:after {
        background: linear-gradient(to right, var(--green), var(--blue)); }
    .btn-gradient-container .btn-gradient.pink-gradient {
      background: linear-gradient(to right, var(--pink), var(--purple)); }
      .btn-gradient-container .btn-gradient.pink-gradient:after {
        background: linear-gradient(to right, var(--pink), var(--purple)); }
    .btn-gradient-container .btn-gradient.primary-gradient {
      background: linear-gradient(to right, var(--primary), var(--secondary)); }
      .btn-gradient-container .btn-gradient.primary-gradient:after {
        background: linear-gradient(to left, var(--primary), var(--secondary)); }

/** Bootstrap svg icons **/
svg.bi {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat !important; }
  svg.bi.bi-3x {
    width: 2.5rem;
    height: 3.5rem; }
  svg.bi.bi-details {
    width: 1.5rem;
    height: 1.5rem; }
  svg.bi.bi-circle-check {
    background-color: var(--bg-primary);
    border-radius: 50%;
    margin-right: 6px;
    width: 1rem;
    height: 1rem; }

/** header and navigation styling **/
#header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  backdrop-filter: blur(40px);
  background-color: rgba(26, 26, 26, 0.5);
  box-shadow: 3px 3px 12px rgba(66, 184, 131, 0.25);
  color: rgba(255, 255, 255, 0.7);
  min-height: 50px;
  padding: 0.5rem 1em; }
  #header .header-logo {
    max-width: 50px;
    max-height: 50px; }
    #header .header-logo #header-img {
      fill: var(--logo-fill); }
  #header .header-list-item > a {
    height: 50px;
    color: var(--text-primary) !important;
    transition: var(--header-menu-transition); }
    #header .header-list-item > a:hover {
      color: var(--primary); }

.header-burger {
  gap: 6px;
  width: 30px;
  margin-left: auto; }
  .header-burger i {
    height: 2px;
    background-color: var(--logo-fill);
    border-radius: 13px;
    transition: var(--header-menu-transition); }
  .header-burger.active i:nth-child(1) {
    transform: rotate(45deg) translate(7px, 4px); }
  .header-burger.active i:nth-child(2) {
    opacity: 0; }
  .header-burger.active i:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -5px); }

body:has(.header-navigation-wrapper.open) {
  --logo-fill: var(--black); }

@media screen and (max-width: 767px) {
  .header-burger {
    display: flex; }
  .header-navigation-wrapper {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--header-menu-transition); }
    .header-navigation-wrapper.open {
      opacity: 1;
      visibility: visible; }
    .header-navigation-wrapper .header-navigation,
    .header-navigation-wrapper .header-list {
      width: 100%; }
    .header-navigation-wrapper .header-list {
      background-color: var(--bg-gray); }
      .header-navigation-wrapper .header-list > li:not(:last-child) {
        border-bottom: 1px solid var(--bg-primary); }
      .header-navigation-wrapper .header-list .header-list-item {
        flex-direction: column;
        width: 100%; }
        .header-navigation-wrapper .header-list .header-list-item.active a {
          color: var(--text-primary); } }

/** Hero Section styling **/
#hero h1 {
  font-size: 2.25rem;
  word-wrap: break-word;
  margin-top: 10rem; }

#hero #form input[type='email'] {
  max-width: 300px;
  width: 100%;
  padding: .625rem; }

#hero #form #submit {
  max-width: 150px;
  width: 100%;
  height: 3rem;
  margin: 15px 0;
  padding: 6px 12px !important;
  background-color: var(--primary); }
  #hero #form #submit:hover {
    transition: background-color 1s; }

#hero .hero-partners {
  color: var(--text-gray); }
  #hero .hero-partners a {
    color: var(--text-gray); }
    #hero .hero-partners a:hover {
      color: var(--primary); }

.card {
  background-color: var(--bg-gray) !important;
  color: var(--text-primary) !important; }
  .card .card-text {
    color: var(--text-gray); }
  .card .card-body .benefits {
    font-size: .875rem; }

/** Steps to Certification Section & Certificates Section styling **/
#steps-to-certification .card.mid-level, #steps-to-certification .card.senior-level, #certificates .card.mid-level, #certificates .card.senior-level {
  transition: var(--levels-transition); }
  #steps-to-certification .card.mid-level h3, #steps-to-certification .card.senior-level h3, #certificates .card.mid-level h3, #certificates .card.senior-level h3 {
    font-size: 1.45rem; }

#steps-to-certification .card.mid-level:hover, #certificates .card.mid-level:hover {
  background-image: linear-gradient(to bottom left, var(--bg-gray) 30%, rgba(66, 184, 131, 0.125));
  transition: var(--levels-transition); }

#steps-to-certification .card.senior-level:hover, #certificates .card.senior-level:hover {
  background-image: linear-gradient(to bottom left, var(--bg-gray) 30%, rgba(127, 17, 224, 0.125));
  transition: var(--levels-transition); }

#steps-to-certification .card .details, #certificates .card .details {
  color: var(--text-primary); }

#steps-to-certification .level-label, #certificates .level-label {
  color: var(--primary) !important; }

#steps-to-certification .video, #certificates .video {
  padding-bottom: 56.25%; }

/** Switch-For-Levels Section styling **/
#switch-for-levels .levels-container {
  line-height: 2.25rem;
  padding: .875rem;
  margin: .875rem;
  background-color: var(--bg-gray); }
  #switch-for-levels .levels-container .levels-content {
    font-size: 1.25rem;
    color: var(--text-gray); }

#switch-for-levels .form-switch.form-check {
  width: 2.5rem;
  height: 1.5rem;
  margin-bottom: 0;
  padding-left: 0; }

#switch-for-levels .form-switch .form-check-input {
  float: none;
  margin-top: 0;
  margin-left: 0;
  width: 2.5rem;
  height: 1.5rem;
  padding-left: 0;
  vertical-align: middle;
  background-color: var(--primary);
  border-color: var(--primary);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,.5)'/></svg>") !important; }
  #switch-for-levels .form-switch .form-check-input:checked {
    background-color: var(--pink-o);
    border-color: var(--pink);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(248,99,189,1.0)'/></svg>") !important; }
  #switch-for-levels .form-switch .form-check-input:checked:focus {
    box-shadow: 0 0 0 0.25rem rgba(248, 99, 189, 0.25); }
  #switch-for-levels .form-switch .form-check-input:focus:not(:checked) {
    border-color: var(--dark-green);
    box-shadow: 0 0 0 0.25rem rgba(53, 146, 104, 0.25);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,.5)'/></svg>") !important; }

#switch-for-levels .products-container .col .card .card-header {
  background-color: var(--primary);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  color: var(--text-inverted);
  letter-spacing: .0875rem; }

#switch-for-levels .products-container .col .card .level-label {
  color: var(--primary) !important; }

#switch-for-levels .products-container .col .card .product-coverage {
  font-size: 1rem; }

#switch-for-levels .products-container .col .card .product-price {
  font-size: 1.5rem; }

#switch-for-levels .products-container .col .card .btn-primary-effect {
  border: 1px solid var(--primary); }

#switch-for-levels .products-container .col .card.best-value {
  border: 2px solid var(--primary); }

/** Footer styling **/
footer a {
  color: var(--text-inverted); }
  footer a:hover {
    color: var(--text-gray) !important; }

footer > p span {
  margin-left: 6px;
  color: var(--text-inverted); }
