@media (min-width: 768px) {
  #page-wrapper .header-burger {
    display: none; }
  #page-wrapper .header-navigation-wrapper {
    justify-content: flex-end; }
    #page-wrapper .header-navigation-wrapper .header-list {
      gap: 70px; }
  #page-wrapper h2.text-center {
    font-size: 2.5rem !important; }
  #page-wrapper .btn-primary-effect {
    width: 100%;
    display: block; }
  #page-wrapper svg.bi.bi-circle-check {
    width: 1.25rem;
    height: 1.25rem; }
  #page-wrapper #hero h1 {
    font-size: 2.5rem; }
  #page-wrapper #hero #form {
    width: calc(100%/ 1.5) !important; }
  #page-wrapper #switch-for-levels .levels-container {
    width: 15rem;
    padding: 2rem;
    margin: 1rem 2rem; }
    #page-wrapper #switch-for-levels .levels-container .levels-content {
      font-size: 1.875rem; }
  #page-wrapper #switch-for-levels .form-switch.form-check, #page-wrapper #switch-for-levels .form-switch .form-check-input {
    width: 3.5rem; } }

@media (min-width: 768px) {
  #page-wrapper #steps-to-certification .products-container .product-coverage, #page-wrapper #pricing .products-container .product-coverage {
    font-size: 1.5rem; }
  #page-wrapper #steps-to-certification .products-container .product-price, #page-wrapper #pricing .products-container .product-price {
    font-size: 2.5rem; } }

@media (min-width: 991px) {
  #page-wrapper #steps-to-certification .products-container .product-coverage, #page-wrapper #pricing .products-container .product-coverage {
    font-size: 1.25rem; } }

@media (min-width: 1280px) {
  #page-wrapper #steps-to-certification .benefits-list .benefits, #page-wrapper #pricing .benefits-list .benefits {
    font-size: 1rem; } }

@media (min-width: 768px) and (max-width: 990px) {
  #page-wrapper #certificates .details {
    gap: 1.5rem; } }

@media (min-width: 1400px) {
  #page-wrapper #certificates .details {
    gap: 1.5rem; } }
