@media screen and (max-width: 767px) {
  .header-burger {
    display: flex;
    gap: 6px;
    width: 30px;
    margin-left: auto; }
    .header-burger i {
      height: 2px;
      background-color: var(--logo-fill);
      border-radius: 13px;
      transition: var(--header-menu-transition); }
    .header-burger.active i:nth-child(1) {
      transform: rotate(45deg) translate(7px, 4px); }
    .header-burger.active i:nth-child(2) {
      opacity: 0; }
    .header-burger.active i:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -5px); }
  .header-navigation-wrapper {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--header-menu-transition); }
    .header-navigation-wrapper.open {
      opacity: 1;
      visibility: visible; }
    .header-navigation-wrapper .header-navigation,
    .header-navigation-wrapper .header-list {
      width: 100%; }
    .header-navigation-wrapper .header-list {
      background-color: var(--bg-gray); }
      .header-navigation-wrapper .header-list > li:not(:last-child) {
        border-bottom: 1px solid var(--bg-primary); }
      .header-navigation-wrapper .header-list .header-list-item {
        flex-direction: column;
        width: 100%; }
        .header-navigation-wrapper .header-list .header-list-item.active a {
          color: var(--text-primary); }
  .primary-bg, body:has(.header-navigation-wrapper.open) #page-wrapper #header {
    background-image: linear-gradient(to right, var(--primary), var(--secondary)); }
  body:has(.header-navigation-wrapper.open) {
    --logo-fill: var(--black); } }
